@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.Offer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;

  @include respond(phone) {
    flex-wrap: wrap;
  }

  &__Content {
    &-text {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border: 1px solid $color-bacground;
      border-radius: 10px;
      height: 15rem;
    }
  }

  &__Card {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 50rem;
    height: 45rem;
    background: $color-main-opa;
    backdrop-filter: blur(5px);
    padding: 2rem 4rem;
    margin: 2rem 3rem;
    border-radius: 10px;
  }

  &__Image {
    align-self: center;
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
  }

  img {
    width: 100%;
    max-height: 85%;
    border-radius: 10px;

    @include respond(phone) {
      max-height: 20rem;
    }
  }
}
