@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.Contact {
  margin: 2rem 0;
  height: 70vh;
  width: 100vw;
  &__Container {
    display: flex;
    width: 100%;
    height: 100%;
  }
  &__Image {
    flex: 50%;
    width: 50%;
    height: 100%;

    & img {
      width: 100%;
      height: 100%;
    }
  }
  &__Text {
    flex: 50%;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    &-content {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      padding: 2rem;

      & h2 {
        margin: 2rem 0;
      }
      & p {
        margin-top: 4rem;
        padding: 2rem;
        text-align: center;
      }
    }
  }
}
