@import './settings.scss';
@import './mixins.scss';

@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Poiret+One&display=swap'); //change font

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $font-paragraph;
}

html {
  /* 1rem = 10px; 16px - base font size  10px/16px = 62.5% */
  font-size: 62.5%;
  background-color: $color-bacground;
  font-weight: 100;
  scroll-behavior: smooth;

  @include respond(desktop-small) {
    font-size: 50%; // 1rem = 8px
  }
  @include respond(tab-port) {
    font-size: 44%; // 1rem = 7px
  }
  @include respond(phone) {
    font-size: 37%; // 1rem = 6px
  }
}
