@import './settings.scss';
@import './mixins.scss';

@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Poiret+One&display=swap'); //change font

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $font-paragraph;
  overflow-x: hidden;

  // background-position: 0px 0px, 10px 10px;
  // background-size: 20px 20px;
  // background-image: linear-gradient(
  //     45deg,
  //     rgb(255, 139, 139) 25%,
  //     transparent 25%,
  //     transparent 75%,
  //     rgb(255, 139, 139) 75%,
  //     rgb(255, 139, 139) 100%
  //   ),
  //   linear-gradient(
  //     45deg,
  //     rgb(255, 139, 139) 25%,
  //     white 25%,
  //     white 75%,
  //     rgb(255, 139, 139) 75%,
  //     rgb(255, 139, 139) 100%
  //   );
}

html {
  /* 1rem = 10px; 16px - base font size  10px/16px = 62.5% */
  font-size: 62.5%;
  background-color: $color-bacground;
  color: $color-font-dark;
  font-weight: 100;
  scroll-behavior: smooth;

  @include respond(desktop-small) {
    font-size: 50%; // 1rem = 8px
  }
  @include respond(tab-port) {
    font-size: 44%; // 1rem = 7px
  }
  @include respond(phone) {
    font-size: 37%; // 1rem = 6px
  }
}

h2 {
  font-size: $header-h2;
}

p {
  font-size: $font-large;
}

a {
  text-decoration: none;
  color: inherit;
  letter-spacing: 1.2px;
}

li {
  display: inline;
}

//TODO:

.btn {
  background: none;
  border: 1px solid $color-alt-opa;
  font-size: $font-normal;
  font-weight: 600;
  padding: 1rem 3rem;
  margin: 1rem 0;
  cursor: pointer;
  transition: all 0.4s ease-in;
  border-radius: 5px;
}

.btn:hover {
  background: $color-alt-opa;
  backdrop-filter: blur(5px);
  color: $color-font-light;
}

button:focus {
  outline: none;
}

#root {
  margin: 0;
  padding: 0;
}
