@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  color: $color-font-light;
  &-danger {
    background: $alert-danger;
  }
  &-success {
    background: $alert-success;
  }
}
