@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.Rooms {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
}

.Reservation {
  &-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50rem;
    height: 55rem;
    border: 1px solid $color-main-opa;
    backdrop-filter: blur(5px);
    padding: 2rem 4rem;
    margin: 2rem 3rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.4s ease-out;
  }

  &-btn:hover {
    background: $color-alt-opa;
    border: $color-alt-opa;
    color: $color-font-light;
  }
}
