@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.Booking {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin: 5rem 0;
  &__Form {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
    height: 50%;
    background: $color-main-opa;
    border-radius: 5px;
  }
  &__Fields {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    & .form-text {
      font-size: $font-big;
      font-weight: 700;
    }

    &-container {
      width: 80rem;
      height: 8rem;
      margin-top: 4rem;
    }
  }
  &-btn {
    align-self: center;
  }
}

.input {
  width: 30rem;
  height: 30px;
  margin: 1rem;
}
